scikit-learn>=1.2
pandas>=1.5
numpy
matplotlib
seaborn
scipy
joblib
jupyter
tqdm
imbalanced-learn   # SMOTE, SMOTENC, RandomUnderSampler, SMOTEENN
shap               # Phân tích độ quan trọng của đặc trưng (XAI)
xgboost